body {
  font-family: Montserrat, sans-serif;
  color: #142036;
  line-height: 175%;
  font-weight: 500;
}

h1 {
  margin-top: 0px;
}

h2 {
  margin-top: 0px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.section_standard {
  padding: 100px 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section_standard.gray {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f0f0f0;
}

.section_standard.green {
  position: relative;
  background-color: #a0c41d;
}

.section_standard.green.pattern {
  background-image: url('../images/Bez-nazwy-1_Obszar-roboczy-1.png');
  background-position: 0px 0px;
  background-size: 12px;
  background-repeat: repeat;
}

.section_standard.testimonials {
  position: relative;
  display: none;
  overflow: hidden;
}

.section_standard.meet_us_section {
  position: relative;
  background-color: #a0c41d;
  background-image: url('../images/Bez-nazwy-1_Obszar-roboczy-1.png');
  background-position: 0px 0px;
  background-size: 12px;
  text-align: center;
}

.section_standard.meet_us_section.animation_bcg.hide {
  display: none;
}

.section_standard.cta {
  background-color: #a0c41d;
  background-image: url('../images/Bez-nazwy-1_Obszar-roboczy-1.png');
  background-position: 0px 0px;
  background-size: 12px;
}

._1200_px_container {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

._1200_px_container.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

._1200_px_container.center {
  text-align: center;
}

._1200_px_container.meet_us_wrapper {
  text-align: center;
}

.button_dark {
  margin-top: 10px;
  padding: 10px 15px;
  border: 1px solid #142036;
  background-color: #142036;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.button_dark.small_padding {
  margin-top: 0px;
}

.subheading_offers {
  margin-top: 0px;
  color: rgba(20, 32, 54, .75);
  font-size: 18px;
  font-weight: 500;
}

.hero_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-right: 50px;
  padding-left: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(21, 32, 55, .75), rgba(21, 32, 55, .75)), url('../images/rsz_istock-954610618.jpg');
  background-image: linear-gradient(180deg, rgba(21, 32, 55, .75), rgba(21, 32, 55, .75)), url('../images/rsz_istock-954610618.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  color: #fff;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: transparent;
  color: #fff;
}

.nav-link {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-weight: 500;
}

.nav-link:hover {
  color: #a0c41d;
}

.nav-link.w--current {
  color: #a0c41d;
}

.navbar_container {
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.menu-button-2 {
  padding: 16px;
  border: 2px solid #fff;
}

.standard_container {
  width: 100%;
  max-width: 1200px;
  padding-top: 1px;
  text-align: left;
}

.hero_heading {
  margin-bottom: 20px;
  font-size: 72px;
  line-height: 115%;
}

.hero_paragraph {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 175%;
}

.green_button {
  padding: 10px 15px;
  background-color: #a0c41d;
  color: #142036;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.green_button.padding_button_top {
  margin-top: 20px;
}

.green_letters {
  color: #a0c41d;
}

.div-block-3 {
  width: 200px;
  height: 1px;
  margin: 0px auto 15px;
  background-color: #f0f0f0;
}

.paragraph_14px {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 175%;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.row.blog_row {
  margin-bottom: 20px;
}

.section_partners {
  position: relative;
  display: none;
  padding: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #142036;
  color: #fff;
}

.partner_logo_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.3;
  text-align: center;
}

.partner_3 {
  width: 75px;
}

.partner_2 {
  width: 150px;
}

.partner_1 {
  width: 100px;
}

.partner_4 {
  width: 100px;
}

.partner_5 {
  width: 75px;
}

.partner_6 {
  width: 50px;
}

.hero_content_wrapper {
  text-align: center;
}

.triangle_section_divider {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  margin: -50px auto 30px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.triangle_section_divider.gray_element {
  background-color: #f0f0f0;
}

.triangle_section_divider.green_element {
  background-color: #a0c41d;
}

.triangle_section_divider.white_element {
  background-color: #fff;
}

.paragraph_about {
  margin-bottom: 25px;
  color: rgba(20, 32, 54, .75);
  font-size: 18px;
  line-height: 175%;
  font-weight: 500;
}

.heading {
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
}

.icon_offers {
  width: 50px;
  margin-bottom: 20px;
}

.paragraph_secondary {
  color: rgba(20, 32, 54, .75);
  font-size: 18px;
  line-height: 175%;
  font-weight: 500;
  text-align: center;
}

.text-span-4 {
  color: #a0c41d;
  font-weight: 700;
  text-decoration: none;
}

.blog_post_wrapper {
  position: relative;
  overflow: hidden;
  text-align: left;
}

.post_read_more_link {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #a0c41d;
  background-color: transparent;
  color: #a0c41d;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.triangle_element {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  background-color: #a0c41d;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.post_date_published {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 15px;
  border: 2px solid transparent;
}

.blog_post_summary {
  color: rgba(20, 32, 54, .75);
}

.blog_image_wrapper {
  height: 0px;
  margin-bottom: 20px;
  padding-bottom: 56.25%;
}

.blog_image_wrapper.img_2 {
  background-image: url('../images/blog_post_snake2.png');
  background-size: cover;
}

.blog_image_wrapper.img_3 {
  background-image: url('../images/blog post 4.jpg');
  background-size: cover;
}

.blog_image_wrapper.img_4 {
  background-image: url('../images/post3.jpg');
  background-size: 321px;
}

.blog_image_wrapper.img_1 {
  background-image: url('../images/blog_post_6.jpeg'), url('../images/blog_post_6.jpeg');
  background-position: 50% 50%, 0px 0px;
  background-size: cover, cover;
}

.footer_links_wrapper {
  color: #fff;
  text-align: left;
}

.footer_link {
  display: block;
  color: hsla(0, 0%, 100%, .5);
  font-size: 12px;
  text-decoration: none;
}

.footer_link.main {
  font-size: 12px;
  text-decoration: underline;
}

.copyrights_holder {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, .25);
}

.copyrights_paragraph {
  color: hsla(0, 0%, 100%, .5);
  text-align: center;
}

.section_footer {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid hsla(0, 0%, 100%, .1);
  background-color: #142036;
  color: #142036;
}

.section_footer.fixed {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.testimonial_paragraph {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  color: #fff;
  font-size: 18px;
  line-height: 175%;
  font-weight: 500;
  text-align: center;
}

.testimonial_author_image {
  width: 75px;
  height: 75px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  border: 2px solid #a0c41d;
  border-radius: 50%;
  background-image: url('../images/man-945482_640.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.testimonial_slide {
  padding-right: 45px;
  padding-left: 45px;
  text-align: center;
}

.slider {
  background-color: transparent;
  color: #fff;
}

.testimonial_slider_arrow_right {
  color: #a0c41d;
}

.testimonial_slider_arrow_left {
  color: #a0c41d;
}

.testimonials_bcg {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: -20px;
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, .5), transparent), -webkit-linear-gradient(270deg, rgba(20, 32, 54, .75), rgba(20, 32, 54, .75)), url('../images/webflow_4.jpg');
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent), linear-gradient(180deg, rgba(20, 32, 54, .75), rgba(20, 32, 54, .75)), url('../images/webflow_4.jpg');
  background-position: 0px 0px, 0px 0px, 50% 100%;
  background-size: auto, auto, cover;
  background-attachment: scroll, scroll, fixed;
  -webkit-filter: blur(7px);
  filter: blur(7px);
}

.testimonial_author_name {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.testimonial_author_company {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
  color: #a0c41d;
  font-weight: 700;
  text-align: center;
}

.footer_column {
  display: inline-block;
  width: 25%;
  min-height: 100px;
}

.footer_contact_info_wrapper {
  width: 25%;
  min-height: 100px;
  text-align: left;
}

.footer_contact_info {
  margin-top: 15px;
  margin-bottom: 15px;
  color: hsla(0, 0%, 100%, .5);
  font-size: 12px;
  line-height: 175%;
}

.footer_logo {
  opacity: 0.5;
}

.social_icon_link {
  width: 24px;
  margin-right: 5px;
  margin-left: 5px;
}

.social_icon_link.no_margin {
  margin-left: 0px;
}

.social_icon_link.last {
  margin-right: 0px;
}

.social_icons_footer {
  opacity: 0.5;
}

.paragraph_18px {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(20, 32, 54, .75);
  font-size: 18px;
  line-height: 175%;
  font-weight: 500;
  text-decoration: none;
}

.paragraph_18px.hide {
  display: none;
}

.hero_page_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(21, 32, 55, .75), rgba(21, 32, 55, .75)), url('../images/webflow_6.jpeg');
  background-image: linear-gradient(180deg, rgba(21, 32, 55, .75), rgba(21, 32, 55, .75)), url('../images/webflow_6.jpeg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
  color: #fff;
}

.hero_page_section.bcg_study {
  min-height: 600px;
  background-image: -webkit-linear-gradient(270deg, rgba(20, 32, 54, .75), rgba(20, 32, 54, .75)), url('../images/5b5f29403f9c402e9fc9c5eb_hands-coffee-cup-apple.jpeg');
  background-image: linear-gradient(180deg, rgba(20, 32, 54, .75), rgba(20, 32, 54, .75)), url('../images/5b5f29403f9c402e9fc9c5eb_hands-coffee-cup-apple.jpeg');
  background-position: 0px 0px, 50% 100%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.hero_page_section.bcg_hire {
  min-height: 600px;
  background-image: -webkit-linear-gradient(270deg, rgba(20, 32, 54, .75), rgba(20, 32, 54, .75)), url('../images/resized_1.jpeg');
  background-image: linear-gradient(180deg, rgba(20, 32, 54, .75), rgba(20, 32, 54, .75)), url('../images/resized_1.jpeg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.hero_page_section.bcg_join {
  min-height: 600px;
  background-image: -webkit-linear-gradient(270deg, rgba(20, 32, 54, .75), rgba(20, 32, 54, .75)), url('../images/iStock-688892392.jpeg');
  background-image: linear-gradient(180deg, rgba(20, 32, 54, .75), rgba(20, 32, 54, .75)), url('../images/iStock-688892392.jpeg');
  background-position: 0px 0px, 50% 0px;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.steps_wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 15px 15px 15px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #142036;
  text-align: center;
}

.steps_wrapper.first {
  margin-top: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.white_letters {
  color: #fff;
}

.navbar_page {
  position: relative;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #142036;
  color: #fff;
}

.steps_icon {
  width: 50px;
  margin-bottom: 20px;
}

.how_it_works_container {
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.how_it_works_container.steps {
  margin-top: 50px;
}

.faq_triangle_element {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1000;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-right: -30px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.section_standard-copy {
  position: relative;
  padding: 100px 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.green_separator {
  width: 200px;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #a0c41d;
}

.green_separator.centered_separator {
  margin-right: auto;
  margin-left: auto;
}

.column_wrapper {
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(20, 32, 54, .1);
  background-color: #fff;
  text-align: left;
}

.column_wrapper.center {
  text-align: center;
}

.study_icon {
  width: 75px;
  margin-bottom: 20px;
}

.navbar_social_icons_wrapper {
  display: inline-block;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 20px;
}

.form {
  width: 75%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 35px;
  background-color: #fff;
  text-align: center;
}

.form.hide_form {
  display: none;
}

.form_block {
  margin-top: 20px;
}

.text_field {
  background-color: #f0f0f0;
  text-align: center;
}

.text_field.last {
  margin-bottom: 20px;
}

.separator {
  height: 25px;
}

.meet_us_heading_small {
  display: inline-block;
  margin-bottom: 15px;
  color: #142036;
  text-align: center;
}

.button_holder {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

.meet_us_info_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-2 {
  margin-right: 20px;
}

.paragraph-3 {
  margin-right: 20px;
  font-weight: 700;
}

.meet_us_link {
  margin-top: 20px;
  text-decoration: underline;
}

.checkbox-field {
  margin-top: 25px;
}

.checkbox-field.last {
  margin-top: 0px;
}

.checkbox-label {
  margin-top: 5px;
  font-size: 10px;
  line-height: 150%;
  text-align: left;
}

.accordion_wrapper {
  margin-top: 20px;
}

.accordion_item {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  padding: 15px 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(20, 32, 54, .1);
  background-color: rgba(20, 32, 54, .05);
}

.accordion_heading {
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: left;
  cursor: pointer;
}

.accordion_heading:hover {
  color: #a0c41d;
}

.accordion_item_content {
  overflow: hidden;
}

.accordion_paragraph {
  text-align: left;
}

.meet_us_icon {
  width: 50px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.meet_us_heading_wrapper {
  text-align: center;
}

.form-copy {
  width: 75%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 35px;
  background-color: #fff;
  text-align: center;
}

.form-copy.hide {
  display: none;
}

.join_icon {
  width: 100px;
  margin-bottom: 20px;
}

.heading-copy {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
}

.page_title_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.tag_link {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(20, 32, 54, .05);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: rgba(20, 32, 54, .5);
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.tag_link:hover {
  color: #142036;
}

.pagination_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
}

.pagination_link {
  margin-left: 5px;
  padding: 5px 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(20, 32, 54, .05);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: rgba(20, 32, 54, .75);
  font-weight: 600;
  text-decoration: none;
}

.pagination_link:hover {
  background-color: rgba(20, 32, 54, .1);
}

.pagination_link.pagination_active {
  background-color: #e2e2e2;
}

.div-block-34 {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-align: center;
}

.pagination_text {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: rgba(20, 32, 54, .75);
  font-weight: 500;
  text-align: left;
}

.hire_icon {
  width: 100px;
  margin-bottom: 20px;
}

.section_standard-copy-copy {
  position: relative;
  padding: 100px 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #142036;
}

.section_standard-copy-copy.study_chart_section {
  padding-bottom: 150px;
}

.chart_heading {
  color: #a0c41d;
}

.green_separator-copy {
  width: 200px;
  height: 1px;
  margin-top: 15px;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: #a0c41d;
}

.chart_paragraph {
  font-size: 18px;
  line-height: 175%;
  font-weight: 400;
}

.chart_source {
  color: hsla(0, 0%, 94%, .5);
  font-size: 12px;
}

.img_16_9 {
  height: 0px;
  margin-bottom: 25px;
  padding-bottom: 56.25%;
}

.img_16_9.img_consulting {
  background-image: url('../images/iStock-855199044_small.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.img_16_9.img_remote_work {
  background-image: url('../images/5b605e648b6214aaeff828f6_pexels-photo-1112796.jpeg'), url('../images/example-bg.png');
  background-position: 50% 50%, 0px 0px;
  background-size: cover, 125px;
}

.img_16_9.img_polish_job_market {
  background-image: url('../images/pexels-photo-270348.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.img_16_9.img_group_dynamics {
  background-image: url('../images/achievement-agreement-arms-1068523.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.img_16_9.img_sharing_expertise {
  background-image: url('../images/5b60785fcec62aeba4ab72a0_iStock-954610720_small.jpeg');
  background-position: 50% 50%;
  background-size: cover;
}

.img_16_9.img_remote_work-_hire {
  background-image: url('../images/pexels-photo-926390.jpeg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.basic_icon {
  height: 75px;
  margin-bottom: 20px;
}

.separator-copy {
  height: 75px;
}

.event_wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: rgba(20, 32, 54, .05);
  text-align: left;
}

.event_info_wrapper {
  display: inline-block;
  padding: 40px 45px 45px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(20, 32, 54, .1);
}

.sample_image_1 {
  overflow: hidden;
  min-width: 300px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), transparent), url('../images/adult-art-artist-668137.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent), url('../images/adult-art-artist-668137.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.event_author {
  display: inline-block;
  margin-top: 10px;
  padding-top: 5px;
  padding-right: 15px;
  padding-bottom: 5px;
  border: 2px solid transparent;
  font-weight: 700;
}

.event_read_more_link {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #a0c41d;
  background-color: transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #a0c41d;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.event_read_more_link:hover {
  border-color: #142036;
  color: #142036;
}

.event_date {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 15px;
  border: 2px solid transparent;
}

.event_heading {
  font-size: 28px;
}

.event_status {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  background-color: #a0c41d;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  text-decoration: none;
}

.div-block-44 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-45 {
  width: 50%;
  color: #fff;
}

.chart {
  width: 50%;
  padding-top: 30px;
  padding-left: 50px;
}

.divider-copy {
  height: 30px;
}

.chart_second {
  width: 50%;
  padding-top: 50px;
  padding-left: 50px;
}

.link-3 {
  color: #142036;
  text-decoration: none;
}

.chart_separator {
  width: 200px;
  height: 1px;
  margin-top: 15px;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: #a0c41d;
}

.centered_green_separator {
  width: 200px;
  height: 1px;
  margin: 15px auto;
  background-color: #a0c41d;
}

.link-4 {
  text-decoration: none;
}

.footer {
  position: relative;
  padding: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #142036;
  color: #fff;
}

.bold-text {
  color: #a0c41d;
  text-decoration: underline;
}

.upload_button {
  margin-top: 10px;
  margin-right: 20px;
  padding: 10px 15px;
  border: 1px solid #142036;
  background-color: transparent;
  color: #142036;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.offer_wrapper-copy {
  margin-right: auto;
  margin-left: auto;
  padding: 30px 20px;
  background-color: #fff;
  text-align: center;
}

.pagination_wrapper-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: right;
}

.link-5 {
  display: inline-block;
  padding: 20px;
  background-color: #e2e2e2;
  font-size: 28px;
  text-decoration: none;
}

.bold-text-3 {
  color: #21264b;
}

.tabs-menu {
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
  padding-bottom: 0px;
  text-align: left;
}

.tab-link-tab-2 {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(20, 32, 54, .05);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: rgba(20, 32, 54, .5);
  font-size: 11px;
  font-weight: 700;
}

.tab-link-tab-2:hover {
  color: #142036;
}

.tab-link-tab-1 {
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: rgba(20, 32, 54, .5);
  font-size: 11px;
  font-weight: 700;
}

.tab-link-tab-1.w--current {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-radius: 5px;
  background-color: rgba(20, 32, 54, .25);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: rgba(20, 32, 54, .5);
  font-size: 11px;
}

.tab-link-tab-1.w--current:hover {
  color: #142036;
}

.tabs {
  text-align: right;
}

.div-block-46 {
  text-align: left;
}

.heading-copy-copy {
  display: inline-block;
  margin-top: 0px;
  text-align: left;
}

.text-block {
  font-weight: 700;
}

.sample_image_2 {
  overflow: hidden;
  min-width: 300px;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), transparent), url('../images/targi_krakow.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent), url('../images/targi_krakow.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.sample_image_3 {
  overflow: hidden;
  min-width: 300px;
  background-image: url('../images/kariera_it_rzeszow.jpg'), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), transparent);
  background-image: url('../images/kariera_it_rzeszow.jpg'), linear-gradient(180deg, rgba(0, 0, 0, .5), transparent);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.sample_image_4 {
  overflow: hidden;
  min-width: 300px;
  background-image: url('../images/kariera_it_poznan.jpg'), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), transparent);
  background-image: url('../images/kariera_it_poznan.jpg'), linear-gradient(180deg, rgba(0, 0, 0, .5), transparent);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.sample_image_5 {
  overflow: hidden;
  min-width: 300px;
  background-image: url('../images/kariera_it_lodz.jpg'), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), transparent);
  background-image: url('../images/kariera_it_lodz.jpg'), linear-gradient(180deg, rgba(0, 0, 0, .5), transparent);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.sample_image_6 {
  overflow: hidden;
  min-width: 300px;
  background-image: url('../images/kariera_it_katowice.jpg'), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), transparent);
  background-image: url('../images/kariera_it_katowice.jpg'), linear-gradient(180deg, rgba(0, 0, 0, .5), transparent);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

.sample_image_7 {
  overflow: hidden;
  min-width: 300px;
  background-image: url('../images/frontend_con.png'), -webkit-linear-gradient(270deg, rgba(0, 0, 0, .5), transparent);
  background-image: url('../images/frontend_con.png'), linear-gradient(180deg, rgba(0, 0, 0, .5), transparent);
  background-position: 50% 50%, 0px 0px;
  background-size: cover, auto;
}

@media (max-width: 991px) {
  .section_standard {
    padding: 50px 30px;
  }
  .section_standard.gray.padding_decorative_element {
    padding-top: 120px;
  }
  .section_standard.meet_us_section {
    padding-top: 75px;
  }
  ._1200_px_container.flex {
    display: block;
  }
  .hero_section {
    padding-right: 30px;
    padding-left: 30px;
  }
  .navbar {
    padding-right: 30px;
    padding-left: 30px;
  }
  .nav-link {
    text-align: center;
  }
  .menu-button-2.w--open {
    border-color: #a0c41d;
    background-color: transparent;
    color: #a0c41d;
  }
  .hero_heading {
    font-size: 66px;
  }
  .column {
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
  .section_partners {
    padding: 50px 30px;
  }
  .paragraph_about {
    position: relative;
    z-index: 100;
    font-size: 16px;
  }
  .paragraph_secondary {
    font-size: 16px;
  }
  .blog_post_wrapper.left_post_wrapper {
    margin-right: 0px;
  }
  .blog_post_wrapper.rigth_post_wrapper {
    margin-left: 0px;
  }
  .blog_image_wrapper.img_2 {
    background-size: cover;
  }
  .blog_image_wrapper.img_3 {
    background-size: cover;
  }
  .blog_image_wrapper.img_4 {
    background-size: cover;
  }
  .blog_image_wrapper.img_1 {
    background-size: cover;
  }
  .footer_links_wrapper {
    display: block;
    width: 100%;
    margin-top: 14px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .footer_link.main {
    text-align: center;
  }
  .section_footer {
    padding: 30px;
  }
  .testimonial_paragraph {
    width: 85%;
    font-size: 16px;
  }
  .testimonial_author_image {
    margin-bottom: 25px;
  }
  .slider {
    min-height: 325px;
  }
  .testimonial_slider_arrow_right {
    margin-right: 5px;
    margin-left: 30px;
  }
  .testimonial_slider_arrow_left {
    margin-right: 30px;
    margin-left: 5px;
  }
  .footer_column {
    width: 33.33%;
  }
  .footer_contact_info_wrapper {
    width: 100%;
    margin-top: 30px;
    text-align: center;
  }
  .footer_contact_info {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .paragraph_18px {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .hero_page_section {
    padding-right: 30px;
    padding-left: 30px;
  }
  .steps_wrapper {
    width: 50%;
  }
  .navbar_page {
    padding-right: 30px;
    padding-left: 30px;
  }
  .how_it_works_container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .section_standard-copy {
    padding: 30px;
  }
  .section_standard-copy.padding_decorative_element {
    padding-top: 120px;
  }
  .column_wrapper {
    padding-top: 0px;
  }
  .column_wrapper.center.margin_columns {
    margin-right: 5px;
    margin-left: 5px;
  }
  .navbar_social_icons_wrapper {
    display: block;
    padding-left: 0px;
    text-align: center;
  }
  .form {
    width: 85%;
  }
  .nav_menu_standard {
    background-color: #142036;
  }
  .form-copy {
    width: 85%;
  }
  .pagination_wrapper {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .section_standard-copy-copy {
    padding: 30px;
  }
  .section_standard-copy-copy.study_chart_section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .basic_icon.icon_margin_top {
    margin-top: 20px;
  }
  .sample_image_1 {
    min-width: 200px;
  }
  .chart {
    padding-left: 15px;
  }
  .divider-copy {
    height: 60px;
  }
  .chart_second {
    padding-left: 15px;
  }
  .footer {
    padding: 50px 30px;
  }
  .pagination_wrapper-copy {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .sample_image_2 {
    min-width: 200px;
  }
  .sample_image_3 {
    min-width: 200px;
  }
  .sample_image_4 {
    min-width: 200px;
  }
}

@media (max-width: 767px) {
  .hero_section {
    min-height: 300px;
    background-image: -webkit-linear-gradient(270deg, rgba(20, 32, 54, .75), rgba(20, 32, 54, .75)), url('../images/webflow_1.jpg');
    background-image: linear-gradient(180deg, rgba(20, 32, 54, .75), rgba(20, 32, 54, .75)), url('../images/webflow_1.jpg');
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
  }
  .navbar {
    padding: 20px;
  }
  .navbar_logo {
    height: 45px;
    margin-top: 2px;
  }
  .menu-button-2 {
    padding: 10px;
  }
  .hero_heading {
    font-size: 36px;
  }
  .brand {
    padding-left: 0px;
  }
  .hero_paragraph {
    font-size: 14px;
  }
  .section_partners {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .paragraph_about {
    font-size: 14px;
  }
  .paragraph_secondary {
    margin-top: 20px;
    font-size: 14px;
  }
  .blog_post_wrapper.left_post_wrapper {
    margin-right: 0px;
  }
  .blog_post_wrapper.rigth_post_wrapper {
    margin-left: 0px;
  }
  .footer_links_wrapper {
    width: auto;
  }
  .footer_link {
    text-align: left;
  }
  .section_footer.fixed {
    position: relative;
  }
  .testimonial_paragraph {
    font-size: 14px;
  }
  .slider {
    min-height: 350px;
  }
  .footer_column {
    width: 49%;
  }
  .footer_column.wide {
    width: 100%;
  }
  .paragraph_18px {
    margin-top: 20px;
    font-size: 14px;
  }
  .hero_page_section {
    background-position: 63% 50%;
    background-repeat: repeat;
  }
  .hero_page_section.bcg_study {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .steps_wrapper {
    width: 100%;
  }
  .navbar_page {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section_standard-copy {
    padding-top: 40px;
  }
  .column_wrapper {
    padding-top: 20px;
  }
  .column_wrapper.center.margin_columns {
    margin-right: 0px;
    margin-left: 0px;
  }
  .form {
    width: 100%;
  }
  .meet_us_heading_small {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .button_holder {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .meet_us_icon {
    margin-right: 0px;
  }
  .form-copy {
    width: 100%;
  }
  .heading-copy {
    margin-bottom: 30px;
  }
  .page_title_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .pagination_wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .basic_icon.icon_margin_top {
    margin-top: 20px;
  }
  .event_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .event_info_wrapper {
    padding: 25px 20px;
  }
  .sample_image_1 {
    height: 0px;
    min-width: auto;
    padding-bottom: 56.25%;
  }
  .event_heading {
    font-size: 24px;
  }
  .div-block-44 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .div-block-45 {
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .chart {
    width: 100%;
    margin-top: 25px;
    padding-left: 0px;
  }
  .chart_second {
    width: 100%;
    margin-top: 25px;
    padding-top: 30px;
    padding-left: 0px;
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .pagination_wrapper-copy {
    margin-top: 0px;
    margin-bottom: 0px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .tabs-menu {
    margin-top: 0px;
  }
  .heading-copy-copy {
    margin-bottom: 30px;
  }
  .sample_image_2 {
    height: 0px;
    min-width: auto;
    padding-bottom: 56.25%;
  }
  .sample_image_3 {
    height: 0px;
    min-width: auto;
    padding-bottom: 56.25%;
  }
  .sample_image_4 {
    height: 0px;
    min-width: auto;
    padding-bottom: 56.25%;
  }
}

@media (max-width: 479px) {
  .section_standard {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section_standard.meet_us_section {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #a0c41d;
    background-image: url('../images/Bez-nazwy-1_Obszar-roboczy-1.png');
    background-position: 0px 0px;
    background-size: 12px;
  }
  ._1200_px_container {
    text-align: center;
  }
  ._1200_px_container.flex {
    text-align: center;
  }
  ._1200_px_container.meet_us_wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .button_dark {
    display: block;
    width: 100%;
    padding: 5px 10px;
  }
  .button_dark.short {
    display: inline-block;
    width: auto;
  }
  .hero_section {
    min-height: auto;
    padding-right: 20px;
    padding-left: 20px;
    background-image: -webkit-linear-gradient(270deg, rgba(20, 32, 54, .75), rgba(20, 32, 54, .75)), url('../images/webflow_1.jpg');
    background-image: linear-gradient(180deg, rgba(20, 32, 54, .75), rgba(20, 32, 54, .75)), url('../images/webflow_1.jpg');
    background-position: 0px 0px, 63% 50%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    text-align: center;
  }
  .hero_heading {
    font-size: 36px;
  }
  .green_button {
    padding: 5px 10px;
  }
  .section_partners {
    padding-right: 20px;
    padding-left: 20px;
  }
  .post_read_more_link {
    padding-right: 10px;
    padding-left: 10px;
  }
  .footer_link {
    text-align: center;
  }
  .footer_link.main {
    text-align: center;
  }
  .section_footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section_footer.fixed {
    position: relative;
  }
  .testimonial_paragraph {
    width: 100%;
  }
  .slider {
    min-height: 500px;
  }
  .testimonial_slider_arrow_left {
    margin-left: 0px;
  }
  .right_arrow {
    display: none;
  }
  .left_arrow {
    display: none;
  }
  .footer_column {
    width: 49%;
  }
  .footer_column.wide {
    width: 100%;
    margin-top: 20px;
  }
  .footer_contact_info_wrapper {
    margin-top: 10px;
  }
  .hero_page_section {
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
  }
  .section_standard-copy {
    padding-right: 20px;
    padding-left: 20px;
  }
  .text_field.last {
    margin-bottom: 30px;
  }
  .meet_us_info_wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .paragraph-2 {
    margin-right: 0px;
  }
  .paragraph-3 {
    margin-right: 0px;
  }
  .meet_us_icon {
    margin-right: 0px;
  }
  .tag_link {
    display: inline-block;
    margin-bottom: 10px;
  }
  .tag_link.first {
    margin-left: 0px;
  }
  .div-block-40 {
    text-align: center;
  }
  .section_standard-copy-copy {
    padding-right: 20px;
    padding-left: 20px;
  }
  .event_info_wrapper {
    text-align: center;
  }
  .event_author {
    width: 100%;
    padding-right: 0px;
    text-align: center;
  }
  .event_read_more_link {
    width: 100%;
    text-align: center;
  }
  .event_date {
    width: 100%;
    text-align: center;
  }
  .meet_us_heading {
    text-align: center;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
  .upload_button {
    display: block;
    width: 100%;
    margin-right: 0px;
    padding: 5px 10px;
  }
  .tabs-menu {
    margin-bottom: 40px;
  }
  .tab-link-tab-1 {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron black';
  src: url('../fonts/Aileron-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/Aileron-BoldItalic.otf') format('opentype'), url('../fonts/Aileron-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Aileron bold';
  src: url('../fonts/Aileron-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron heavy';
  src: url('../fonts/Aileron-Heavy.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/Aileron-HeavyItalic.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Aileron light';
  src: url('../fonts/Aileron-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/Aileron-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Aileron regular';
  src: url('../fonts/Aileron-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/Aileron-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Aileron thin';
  src: url('../fonts/Aileron-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/Aileron-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Aileron semibold';
  src: url('../fonts/Aileron-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/Aileron-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/Aileron-UltraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Aileron';
  src: url('../fonts/Aileron-UltraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
